

<%- include("header") -%>

<div class="box" id="heading">
    <h1>About page</h1>
</div>

<div class="blogBox">
    <p>Welcome to my first blog site! This site was created as a test for software development using Node.js and EJS.

        <br><br>My name is James, and I am a software developer who is passionate about creating innovative solutions to everyday problems. I started this blog to share my thoughts and experiences with the world and to connect with like-minded individuals who are interested in technology and programming.
        
        <br><br>On this site, you will find a variety of articles on topics such as web development, software engineering, programming languages, and more. My goal is to provide valuable insights and practical advice that you can use to improve your own skills and knowledge.
        
        <br><br>If you have any questions or comments, please feel free to get in touch with me through the contact page. I am always happy to hear from my readers and to engage in discussions about technology and software development.
        
        <br><br>Thank you for visiting my blog, and I hope you find the content here to be informative and engaging.</p>
</div>


<%- include("footer") -%>