

<%- include("header") -%>

<div class="box" id="heading">
    <h1>Contact me</h1>
</div>

<div class="blogBox">
    <p>This form currently is a WIP, please use the link in the footer</p>
<!-- need to update the action and post commands -->
    <form action="" method="post" >
        <label for="name">Name:</label>
        <input type="text" name="name" id="" required placeholder="Your Name"><BR>
        <label for="email">Email:</label>
        <input type="email" name="email" id="" required placeholder="Your Email"><br>
        <label for="subject">Subject:</label>
        <input type="text" name="subject" id="" required placeholder="Subject"><br>
        <label for="message">Message:</label>
        <textarea type="text" name="message" id="" rows="1" required placeholder="Message"></textarea><br>
        <button type="submit">Contact me</button>
    </form>
</div>


<%- include("footer") -%>