

<%- include("header") -%>

<div class="box" id="heading">
    <h1>Contact me</h1>
</div>

<div class="blogBox">
<!-- need to update the action and post commands -->
    <form action="" method="post" >
        <label for="name">Name:</label>
        <input type="text" name="name" id="" required><BR>
        <label for="email">Email:</label>
        <input type="email" name="email" id="" required><br>
        <label for="subject">Subject:</label>
        <input type="text" name="subject" id="" required><br>
        <label for="message">Message:</label>
        <textarea type="text" name="message" id="" required></textarea><br>
        <button type="submit">Contact me</button>

    </form>
</div>


<%- include("footer") -%>