

<%- include("header") -%>

<div class="box item">
    <form action="/" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" id="" placeholder="Enter Title">
        <label for="blog">Blog:</label>
        <textarea type="text" name="blog" id="" placeholder="Enter your blog text" rows="0"></textarea>
    </form>
</div>



<%- include("footer") -%>