

<%- include("header") -%>

<div class="box" id="heading">
    <h1>Thank you for the email</h1>
</div>

<div class="box item">
    <p>Please return home or create a new blog post.</p>
    <div id="returnHome">
        <button href="/" >Return home</button>
        <button href="/createBlog">Create new</button>
    </div>
    
</div>

<%- include("footer") -%>