

<%- include("header") -%>

                <div class="blogBox">
                    <div class="item">
                    <ul>
                        <h2><%= titlePost%>:</h2>
                        <p ><%= blogPost%> </p>
                    </ul>
                </div>
            </div>



<%- include("footer") -%>