/* full body */
html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #93bad4 50%, #b3dffc 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  }


/* Navbar */
.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #79a5c2;
}

.navBar li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  }

li a:hover {
    background-color: #82CAFA;
}

/* general body */

#heading {
    background-color: #79a5c2;
    text-align: center;
  }

#heading p {
    color: #fff;
}

.box{
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.blogBox {
        max-width: 600px;
        margin: 50px auto;
        background: white;
        border-radius: 5px;
        box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    }


h1 {
    color: #fff;
    padding: 10px;
}
h2 {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    color: #00204a;
}

p {
    margin: 0;
    padding: 20px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }

/* blog items */
.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    display: block;
}
  
.item:last-child {
    border-bottom: 0;
}

form {
    text-align: center;
    margin-left: 20px;
}

label {
    font-size: 20px;
}
button {
    min-height: 30px;
    margin: 20px auto 10px auto;
    width: 120px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #528cb3;
    color: #fff;
    font-size: 20px;
    border-width: 0;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover {
    color: rgba(0, 0, 0, 0.5);
}

input[type="email"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}

input[type="email"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #528cb3;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}

textarea {
    text-align: center;
    /* height: 60px; */
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
    resize:vertical;
}

textarea::-webkit-resizer {
    display: none;
  }

textarea:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #528cb3;
}


input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #528cb3;
}
  
::placeholder {
    color: grey;
    opacity: 1;
}
  

.truncated {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogPostReview {
    display: flex;
    align-items: center;
}

.blogPostReview p {
    margin-right: 10px;
}

.blogPostReview a {
    font-weight: bold;
    color: #00204a;
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 10px;
}

.blogPostReview a:hover {
    color: #00204a;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}


.contact {
    text-align: left;
    display: block;
    margin: 20px 20px 10px 20px;
    padding-left: 20px;
}
.contact button{
    text-align: center;
    margin: auto;
}

#returnHome {
    display: flex;
    justify-content: center;
}

#returnHome button {
    margin: 10px;
}
      
/* .contact form input, form textarea {
    
} */
/* footer */

.footer a {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #b3dffc;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #79a5c2;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
.footer a:hover {
    background-color: #82CAFA;
    color: #fff;
  }

footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
  